
.vs/ProjectEvaluation/

.vs/WaifuWallpaperSetter/DesignTimeBuild/

.vs/WaifuWallpaperSetter/FileContentIndex/

.vs/WaifuWallpaperSetter/v17/

WaifuWallpaperSetter/bin/Debug/net6.0/

WaifuWallpaperSetter/bin/Release/net6.0/

WaifuWallpaperSetter/obj/Debug/net6.0/

WaifuWallpaperSetter/obj/

WaifuWallpaperSetter/Properties/PublishProfiles/
