<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WaifuWallpaperSetter_GUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WaifuWallpaperSetter_GUI.Properties.Settings>
            <setting name="IncludedTags" serializeAs="String">
                <value />
            </setting>
            <setting name="ExcludedTags" serializeAs="String">
                <value />
            </setting>
            <setting name="IncludedFiles" serializeAs="String">
                <value />
            </setting>
            <setting name="ExcludedFiles" serializeAs="String">
                <value />
            </setting>
            <setting name="OrderByIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OrientationIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AllowNsfw" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OnlyGifs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ImageLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="WallpaperFitIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OnlySearchFavorites" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HeightOperatorIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WidthOperatorIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HeightSize" serializeAs="String">
                <value />
            </setting>
            <setting name="WidthSize" serializeAs="String">
                <value />
            </setting>
        </WaifuWallpaperSetter_GUI.Properties.Settings>
    </userSettings>
</configuration>